In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# dataframe - df
df = pd.read_csv('https://raw.githubusercontent.com/asarmadi/summer_ml_s3/master/day02/Icebreaking_Dataset.csv')

In [3]:
df.head(30)

,Name,Grade,City,Movie,IMDB Score,Genre,Coding experience
0,Aaditya Prasad,11th,"Sammamish, WA",Good WIll Hunting,8.3,Drama,5.0
1,Catherine Peng,11th,"Northbrook, IL",Infinity War,8.4,Action,2.5
2,Cole Glotfelty,11th,East Hampton. NY,The Shawshank Redemption,9.3,Drama,3.5
3,Divya Kartik,12th,"Guildford, Surrey, UK",Spider-Man: Into the Spider-Verse,8.4,Action,4.0
4,Ethan Baksh,12th,"Hewlett, NY",Interstellar,8.6,Adventure,3.0
5,Xiaotian Gu,11th,"Rensselaer, NY",Your Name,8.4,Animation,4.0
6,Jackson Petroske,11th,"Belle Terre, NY",Fantastic Mr. Fox,7.9,Adventure,1.1
7,Joaquin Portugal,12th,"San Jose, CA",Lalaland,8.0,Comedy,2.0
8,Junoh Lee,11th,"Scarsdale, NY",Whiplash,8.5,Drama,3.5
9,Matthew Solar,12th,"New Rochelle, NY",The Shawshank Redemption,9.3,Drama,2.0
10,Nicholas Fowlkes,11th,"Bethesda, Maryland",Hugo,7.5,Drama,2.5
11,Sameer Narendran,12th,"Berkeley Heights, NJ",Interstellar,8.6,Adventure,3.0
12,Matthew Solar,12th,"New Rochelle, NY",The Shawshank Redemption,9.3,Drama,2.0
13,Nicholas Friar,12th,"Lafayette, CO",A silent voice,8.2,Drama,NaN
14,Renee Wang,11th,"Brooklyn, NY",Avatar,7.8,Action,2.5
15,Isabella Vesely,10th,"Milwaukee, WI",Monty Python and the Holy Grail,8.2,Comedy,2.5
16,Ishani Sengupta,12th,"Edison, NJ",The Dark Knight,9.0,Action,2.5
17,Nick Yohn,12th,"Hoboken, NJ",Inglorious Basterds,8.3,Action,2.5
18,Emil Schaumburg,10th,"Greenwich,CT",Inglorious Basterds,8.3,Action,3.0
19,Kara Pietrowicz,12th,"Freehold, NJ",The Simpsons Movie,7.3,Adventure,4.0
20,Micah Cao,10th,"Vancouver, Canada",Gladiator,8.2,Action,2.0
21,Logan Jin,12th,NaN,Hunger Game,NaN,Action,1.5
22,Michael Del Toro,10th,"Chappaqua, NY",Back to The Future,8.5,Action,4.0
23,Lucy Malmud,10th,"Manhattan, NY",Notting Hill,7.1,Drama,3.5
24,Rhea Kochher,12th,"Edison, NJ",Shutter Island,8.2,Psychological Thriller,2.5
25,Vaibhav Bhatla,10th,"Edison, NJ",Avengers: Endgame,8.4,Action,2.5
26,Winnie Yu,12th,"Brooklyn, NY",Avengers: Endgame,8.4,Action,2.5
27,Maya Madhavan,11th,"Bronxville, NY",The Hate U Give,7.4,Crime,2.5
28,Theresa Jiao,10th,"Setauket, NY",The Lion King,8.5,Animation,1.5
29,Venkat Kunaparaju,12th,"Edison, NJ",LOTR: The Return of the King,8.9,Action,3.5

In [4]:
df = df.dropna()
names = df['Movie'].values
score = df['IMDB Score'].values

### Exercise 1 :  Plot the IMDB scores for all the movies
- Use the [plt.scatter() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.scatter.html)
- x-axis indicates the name of the movies, y-axis shows the score.
- do not forget to put on the labels for the axes.

In [ ]:
# To-do

### Exercise 2 : Calculate the mean and variance of the IMDB score of the movies

In [ ]:
# To-do

### Exercise 3 :  Calculate the mean and variance of the IMDB score for each genre

In [ ]:
# To-do

# Bonus :


### Plot the number of movies for each genre
- Use the [plt.bar() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.bar.html)
- x-axis indicates the genre, y-axis shows the count for each genre.
- do not forget to put on the labels for the axes.

In [ ]:
# To-do

### Plot the histogram for the IMDB score
- Use [plt.hist() function](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.hist.html)
- x-axis indicates the score interval, y-axis shows the number of movies within each score interval
- make the interval length 0.5
- do not forget to put on the labels for the axes.

- numpy arange() might come in handy!

In [10]:
a = 0
b = 1
interval = 0.01
print (np.arange(a, b, interval))

[0.   0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1  0.11 0.12 0.13
 0.14 0.15 0.16 0.17 0.18 0.19 0.2  0.21 0.22 0.23 0.24 0.25 0.26 0.27
 0.28 0.29 0.3  0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4  0.41
 0.42 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5  0.51 0.52 0.53 0.54 0.55
 0.56 0.57 0.58 0.59 0.6  0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69
 0.7  0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8  0.81 0.82 0.83
 0.84 0.85 0.86 0.87 0.88 0.89 0.9  0.91 0.92 0.93 0.94 0.95 0.96 0.97
 0.98 0.99]

In [ ]:
# To-do